* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#212526, #626668);
}

nav {
  background-color: #212526;
  padding: 10px 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.left-side a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease, background-color 0.3s ease-in-out;
}

a:hover {
  color: #00735c;
  font-weight: 600;
}

.right-side {
  display: flex;
}

.button {
  background-color: #00735c;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
}

.button:hover {
  background-color: #005346;
  color: #cdcdcd;
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: #000;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #005346;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:hover {
  border: 3px solid rgb(7, 151, 130);
  transition-duration: 0.2s;
}

.contact-inputs:focus {
  border: 3px solid #00735c;
}

.contact-inputs::placeholder {
  color: #3f3b3c;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #005346, #09aa92);
  cursor: pointer;
}

.contact-left button img {
  height: 15px;
}

.contact-right img {
  width: 650px;
}

.bottom-bar {
  background-color: black;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
  width: 100vw;
}
.bottom-bar p {
  color: white;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}
